
.container{
    display: flex;
    justify-content:center;
    height: 100px;
    margin: 10px;
    background-color: #286f99;
}

.clock{
    background-color: #286f99;
    margin: 15px;
    font-size: 60px;
    line-height: 60px;
    color: white;
    padding: 10px;
    text-align: center;
    margin:10px;
    
}

.six{
    background-color: #286f99;
    margin: 15px;
    font-size: 60px;
    line-height: 60px;
    color: white;
    padding: 10px;
    text-align: center;
    margin:10px;
}

.five{
    background-color: #286f99;
    margin: 15px;
    font-size: 60px;
    line-height: 60px;
    color: white;
    padding: 10px;
    text-align: center;
    margin:10px;
}

.four{
    background-color: #286f99;
    margin: 15px;
    font-size: 60px;
    line-height: 60px;
    color: white;
    padding: 10px;
    text-align: center;
    margin:10px;
}

.three{
    background-color: #286f99;
    margin: 15px;
    font-size: 60px;
    line-height: 60px;
    color: white;
    padding: 10px;
    text-align: center;
    margin:10px;
}

.two{
    background-color: #286f99;
    margin: 15px;
    font-size: 60px;
    line-height: 60px;
    color: white;
    padding: 10px;
    text-align: center;
    margin:10px;
}

.one{
    background-color: #286f99;
    margin: 15px;
    font-size: 60px;
    line-height: 60px;
    color: white;
    padding: 10px;
    text-align: center;
    margin:10px;
}